## 1. Uso de librería pandas – leer archivo fifa_eda.csv

In [2]:
# Cambiar y visualizar directorio actual
import os
os.chdir("C:/Users/Geovanny/Data")
os.getcwd()

'C:\\Users\\Geovanny\\Data'

In [3]:
# Importar librería pandas
import pandas as pd

# Leer archivo csv con pandas
df = pd.read_csv("fifa_eda.csv")
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,60.0,1.0,Right,1.0,2.0,CM,2017,2019-01-01,5.750000,134.0,143.0
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60.0,1.0,Right,1.0,2.0,ST,2018,2020-01-01,6.250000,170.0,113.0
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0

## 2. Visualización de una muestra de 20 líneas.

In [5]:
# Se utiliza la función sample para mostrar 20 filas aleatorias
df.sample(20)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
14613,240876,M. Nani,20,Argentina,61,75,Belgrano de Córdoba,500.0,2.0,Left,1.0,2.0,LCB,2017,2021-01-01,6.166667,187.0,1000.000000
18143,233398,W. Henry,19,England,49,66,Swindon Town,50.0,1.0,Right,1.0,1.0,GK,2016,2021-01-01,5.916667,170.0,119.000000
9899,244731,N. Rusyn,19,Ukraine,66,78,Dynamo Kyiv,1100.0,1.0,Right,1.0,2.0,ST,2017,2022-01-01,5.833333,150.0,2600.000000
6211,204444,Y. Wildschut,26,Netherlands,69,69,Bolton Wanderers,1100.0,13.0,Right,1.0,3.0,LM,2016,2019-06-30,6.166667,190.0,4585.060806
8532,176585,I. Pallas,35,Uruguay,67,67,Puebla FC,180.0,2.0,Right,1.0,2.0,CB,2018,2019-01-01,6.250000,192.0,306.000000
7757,173337,Y. Konno,35,Japan,67,67,Gamba Osaka,180.0,3.0,Right,2.0,2.0,LCM,2012,2023-01-01,5.833333,161.0,225.000000
12178,239899,Víctor Fernández,20,Spain,63,80,Newcastle United,800.0,6.0,Right,1.0,3.0,LM,2017,2019-01-01,5.750000,154.0,2000.000000
3488,225114,M. Mahi,24,Morocco,72,76,FC Groningen,4100.0,7.0,Right,1.0,4.0,ST,2014,2019-01-01,5.916667,152.0,6300.000000
14745,236321,D. N'Lundulu,19,England,60,72,Southampton,375.0,4.0,Right,1.0,3.0,ST,2016,2018-01-01,5.916667,165.0,788.000000
8521,211911,R. Fennell,29,United States,67,67,VfR Aalen,600.0,1.0,Right,1.0,2.0,RCB,2018,2021-01-01,6.000000,181.0,870.000000
10517,244112,D. Kyereh,22,Ghana,65,72,SV Wehen Wiesbaden,775.0,2.0,Right,1.0,4.0,ST,2018,2020-01-01,5.833333,161.0,1300.000000
6963,224344,A. Vilches,26,Chile,68,70,Universidad Católica,1100.0,4.0,Right,1.0,3.0,LW,2016,2018-12-31,5.916667,176.0,4585.060806
10298,221018,T. Rehfeldt,24,Germany,65,69,VfR Aalen,600.0,1.0,Right,1.0,2.0,CB,2017,2019-01-01,6.333333,187.0,915.000000
2532,215256,R. Saravia,25,Argentina,74,77,Racing Club,6000.0,16.0,Right,1.0,3.0,RB,2018,2022-01-01,5.750000,165.0,9500.000000
2909,229758,R. Krunić,24,Bosnia Herzegovina,73,78,Empoli,5500.0,11.0,Right,1.0,3.0,RCM,2015,2023-01-01,6.000000,163.0,10300.000000
12531,244602,O. Boussaid,18,Belgium,63,77,FC Utrecht,750.0,2.0,Left,1.0,3.0,CAM,2018,2021-01-01,5.416667,146.0,1600.000000
10503,186508,A. Østbø,27,Norway,65,69,Rosenborg BK,475.0,2.0,Right,1.0,1.0,GK,2017,2019-01-01,6.000000,165.0,653.000000
13633,233382,Seol Tae Soo,23,Korea Republic,62,68,Ulsan Hyundai FC,425.0,1.0,Right,1.0,3.0,CAM,2016,2018-01-01,5.666667,132.0,616.000000
5319,45473,C. Tiffert,36,Germany,70,70,FC Erzgebirge Aue,240.0,3.0,Right,1.0,3.0,CB,2015,2019-01-01,6.000000,174.0,372.000000
7397,208324,P. Polomat,24,France,68,72,AS Saint-Étienne,975.0,9.0,Left,1.0,2.0,LB,2013,2019-01-01,6.000000,170.0,1900.000000

## 3. De ser necesario, utilizar el código del ejercicio anterior para no tener que repetir refinamientos de datos.

In [7]:
# Convirtiendo las columnas Wage a Entero
df["Wage"] = pd.to_numeric(df["Wage"], downcast="integer")

In [8]:
# Verificando los tipos de columnas
df.dtypes

ID                            int64
Name                         object
Age                           int64
Nationality                  object
Overall                       int64
Potential                     int64
Club                         object
Value                       float64
Wage                          int16
Preferred Foot               object
International Reputation    float64
Skill Moves                 float64
Position                     object
Joined                        int64
Contract Valid Until         object
Height                      float64
Weight                      float64
Release Clause              float64
dtype: object

## 4. Generar la media, mínimo y máximo de los jugadores en total, y por país (groupby).

In [10]:
# Obtener la edad mínima, media y máxima de total de jugadores
print("--- Estadisticas de los jugadores ---")
print (f"Edad Mínima: {df["Age"].min()}")
print (f"Edad Media: {df["Age"].mean():.2f}")
print (f"Edad Máxima: {df["Age"].max()}")

--- Estadisticas de los jugadores ---
Edad Mínima: 16
Edad Media: 25.12
Edad Máxima: 45

In [11]:
# Obtener la edad mínima, media y máxima por país
new_data = df.groupby("Nationality").agg({ "Age":["min", "mean", "max"]})
new_data

            Age
            min       mean max
Nationality
Afghanistan  20  22.500000  26
Albania      18  24.025000  34
Algeria      19  27.050000  35
Andorra      28  28.000000  28
Angola       19  25.866667  34
...          ..        ...  ..
Uzbekistan   29  29.500000  30
Venezuela    18  24.313433  34
Wales        17  24.736434  37
Zambia       18  22.222222  29
Zimbabwe     22  26.846154  34

[164 rows x 3 columns]

## 5. Generar 2 jugadores ficticios con todos los campos del dataset y añadirlos al mismo.  Visualizarlos con .tail().  Correr nuevamente las estadísticas y compararlas.

In [13]:
# Agregar primer nuevo registro al final del dataframe
new_row = { 
    "ID" : 246501,
    "Name" : "Pepe Pica",
    "Age" : 25,
    "Nationality" : "Mexico",
    "Overall" : 82,
    "Potential" : 85,
    "Club" : "Guadalajara",
    "Value" : 25000,
    "Wage" : 25,
    "Preferred Foot" : "Right",
    "International Reputation" : 3,
    "Skill Moves" : 4,
    "Position" : "CM",
    "Joined" : 2019,
    "Contract Valid Until" : "2021-01-01",
    "Height" : 5.75,
    "Weight" : 165,
    "Release Clause" : 12750
}
df.loc[len(df)] = new_row

In [14]:
# Agregar segundo nuevo registro al final del dataframe
new_row = { 
    "ID" : 246502,
    "Name" : "Toño Sanchez",
    "Age" : 31,
    "Nationality" : "Mexico",
    "Overall" : 80,
    "Potential" : 79,
    "Club" : "Monterrey",
    "Value" : 33000,
    "Wage" : 44,
    "Preferred Foot" : "Left",
    "International Reputation" : 2,
    "Skill Moves" : 3,
    "Position" : "CM",
    "Joined" : 2017,
    "Contract Valid Until" : "2021-01-01",
    "Height" : 5.41,
    "Weight" : 154,
    "Release Clause" : 14102
}
df.loc[len(df)] = new_row

In [15]:
# Visualizar los últimas filas en el dataframe para verificar que los nuevos registros fueron agregados
df.tail()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0
18207,246501,Pepe Pica,25,Mexico,82,85,Guadalajara,25000.0,25,Right,3.0,4.0,CM,2019,2021-01-01,5.750000,165.0,12750.0
18208,246502,Toño Sanchez,31,Mexico,80,79,Monterrey,33000.0,44,Left,2.0,3.0,CM,2017,2021-01-01,5.410000,154.0,14102.0

In [16]:
# Mostrar estadisticas después de agregar los dos candidatos
df.describe()

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
count,18209.000000,18209.000000,18209.000000,18209.000000,17957.000000,18209.000000,18161.000000,18161.000000,18209.000000,18209.000000,18209.000000,18209.000000
mean,214301.875666,25.122522,66.240321,71.308474,2447.487888,9.734033,1.113375,2.361434,2016.420781,5.946731,165.978417,4586.032023
std,29965.498990,4.669889,6.910290,6.137262,5633.535333,21.999839,0.394313,0.756235,2.018178,0.220543,15.572174,10630.236730
min,16.000000,16.000000,46.000000,48.000000,10.000000,0.000000,1.000000,1.000000,1991.000000,5.083333,110.000000,13.000000
25%,200316.000000,21.000000,62.000000,67.000000,325.000000,1.000000,1.000000,2.000000,2016.000000,5.750000,154.000000,570.000000
50%,221760.000000,25.000000,66.000000,71.000000,700.000000,3.000000,1.000000,2.000000,2017.000000,5.916667,165.000000,1300.000000
75%,236532.000000,28.000000,71.000000,75.000000,2100.000000,9.000000,1.000000,3.000000,2018.000000,6.083333,176.000000,4585.060806
max,246620.000000,45.000000,94.000000,95.000000,118500.000000,565.000000,5.000000,5.000000,2019.000000,6.750000,243.000000,228100.000000

## 6. Generar una lambda que añada la zona horaria y la capital del país de nacionalidad

In [18]:
# Crear nuevo dataframe para obtener los datos de los paises únicos
countries = pd.DataFrame(df["Nationality"].unique(), columns=["Nationality"])
countries

     Nationality
0      Argentina
1       Portugal
2         Brazil
3          Spain
4        Belgium
..           ...
159        Malta
160       Belize
161  South Sudan
162    Indonesia
163     Botswana

[164 rows x 1 columns]

In [19]:
# Importar el módulo CountryInfo para obtener información de los paises
from countryinfo import CountryInfo

# Función para obtener la capital del país especificado
def getCapital(countryName):
    try:
        capital = CountryInfo(countryName).capital()
    except:
        capital = ""
    return capital

# Función para obtener las zonas horarias del país especificado
def getTimeZones(countryName):
    try:
        timezones = CountryInfo(countryName).timezones() 
    except:
        timezones = ""
    return timezones

# Aplicar la función lambda a la columna nationality para obtener las zonas horarias del país especificado
countries["TimeZones"] = countries["Nationality"].apply(lambda x: getTimeZones(x))

# Aplicar la función lambda a la columna nationality para obtener la capital del país especificado
countries["Capital"] = countries["Nationality"].apply(lambda x: getCapital(x))

#Imprimir el dataframe de paises con los datos obtenidos
countries

     Nationality                                     TimeZones       Capital
0      Argentina                                   [UTC−03:00]  Buenos Aires
1       Portugal                              [UTC−01:00, UTC]        Lisbon
2         Brazil  [UTC−05:00, UTC−04:00, UTC−03:00, UTC−02:00]      Brasília
3          Spain                              [UTC, UTC+01:00]        Madrid
4        Belgium                                   [UTC+01:00]      Brussels
..           ...                                           ...           ...
159        Malta                                   [UTC+01:00]      Valletta
160       Belize                                   [UTC−06:00]      Belmopan
161  South Sudan                                   [UTC+03:00]          Juba
162    Indonesia             [UTC+07:00, UTC+08:00, UTC+09:00]       Jakarta
163     Botswana                                   [UTC+02:00]      Gaborone

[164 rows x 3 columns]

In [20]:
# Combinar el dataframe de jugadores y países para agregar las columnas de zonas horarias y capital
df = df.merge(countries, how="inner", on="Nationality")
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,TimeZones,Capital
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,[UTC−03:00],Buenos Aires
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0,"[UTC−01:00, UTC]",Lisbon
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0,"[UTC−05:00, UTC−04:00, UTC−03:00, UTC−02:00]",Brasília
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0,"[UTC, UTC+01:00]",Madrid
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0,[UTC+01:00],Brussels
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0,,
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0,,
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0,,
18207,246501,Pepe Pica,25,Mexico,82,85,Guadalajara,25000.0,25,Right,3.0,4.0,CM,2019,2021-01-01,5.750000,165.0,12750.0,"[UTC−08:00, UTC−07:00, UTC−06:00]",Mexico City
18208,246502,Toño Sanchez,31,Mexico,80,79,Monterrey,33000.0,44,Left,2.0,3.0,CM,2017,2021-01-01,5.410000,154.0,14102.0,"[UTC−08:00, UTC−07:00, UTC−06:00]",Mexico City

## 7. Generar una lambda que en base al potencial, añada una columna “Candidato” o “Next Year”, para el premio para el balón de oro.  Jugadores con más de 85, son candidatos.

In [22]:
# Agregar columna, aplicando la función lambda a la columna potencial
df["Premio balón de oro"] = df["Potential"].apply(lambda x: "Candidato" if x > 85 else "Next Year")
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,TimeZones,Capital,Premio balón de oro
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565,Left,...,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,[UTC−03:00],Buenos Aires,Candidato
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405,Right,...,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0,"[UTC−01:00, UTC]",Lisbon,Candidato
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290,Right,...,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0,"[UTC−05:00, UTC−04:00, UTC−03:00, UTC−02:00]",Brasília,Candidato
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260,Right,...,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0,"[UTC, UTC+01:00]",Madrid,Candidato
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355,Right,...,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0,[UTC+01:00],Brussels,Candidato
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1,Right,...,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0,,,Next Year
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1,Right,...,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0,,,Next Year
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1,Right,...,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0,,,Next Year
18207,246501,Pepe Pica,25,Mexico,82,85,Guadalajara,25000.0,25,Right,...,4.0,CM,2019,2021-01-01,5.750000,165.0,12750.0,"[UTC−08:00, UTC−07:00, UTC−06:00]",Mexico City,Next Year
18208,246502,Toño Sanchez,31,Mexico,80,79,Monterrey,33000.0,44,Left,...,3.0,CM,2017,2021-01-01,5.410000,154.0,14102.0,"[UTC−08:00, UTC−07:00, UTC−06:00]",Mexico City,Next Year